{{ partial "header.html" . }}

{{if .IsHome}}
<div class="profile-img-div">
  <img class="profile-img" style="height:auto;" alt="" width="260" height="260" class="avatar avatar-user width-full border color-bg-default" src="https://avatars.githubusercontent.com/u/5642902?v=4">
</div>
<div class="menu-icons">
  <a href="https://github.com/ldelossa"><img src="github-badge.png"></a>
  <a rel="me" href="https://fosstodon.org/@ldelossa"><img src="./mastodon-badge.png"></a>
</div>
{{ end }}

{{if not .IsHome }}
<h1>{{ .Title | markdownify }}</h1>
{{ end }}

{{ .Content }}

{{if not .IsHome }}
<ul>
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range (where $pages "Section" "!=" "") }}
  <li>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
    <ul>
      <li> {{ .Summary }}
    </ul>
  </li>
  {{ end }}
</ul>
{{ end }}

{{ partial "footer.html" . }}
